@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right top, #ca0597, #a068e0, #4d9bff, #00c2ff, #17e1ff);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.quote--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 250px;
    max-width: 750px;
    margin: 0 auto;
}

#quote,
#author {
    color: #fefefe;
}

#quote {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    font-style: italic;
}

#author {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.btn {
    background-color: #00b5bc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.btn:hover {
    background-color: #00F6FF;
    transform: scale(1.1);
}

.btn:active {
    transform: scale(0.9);
}

.btn:focus {
    outline: none;
}

@media screen and (max-width: 768px) {
    body {
        overflow: hidden;
    }

    .quote--container {
        padding-top: 40px;
        padding-bottom: 250px;
    }

    .quote--text {
        padding: 20px;
    }

    #quote {
        font-size: 1.25rem;
    }
}